body,html{
    padding:0px;
    margin:0px;
    background:#ccc;
}
ul{
    margin:0px;
    padding:0px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}

img{
    vertical-align: bottom;
}