body,html{
    padding:0px;
    margin:0px;
    width: @width-content;
    margin: 0 auto;
    background:#ccc;
}
ul{
    margin:0px;
    padding:0px;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
h1,h2{
    margin:0px;
    padding: 0px;
}
p{
    margin:0px;
    padding: 0px;
}
img{
    vertical-align: bottom;
}