.page-footer{
    background:@main-background;
    position: relative;
    text-align: center;
    &__wrap{
        padding: 35px 20px;
    }
    &__link-hashtag{
        font-size: 21px;
        line-height: 26px;
        color:@color-link;
    }
    &__link-copyright{
        &:after{
            content:'';
            width:45px;
            height:45px;
            display:inline-block;
            vertical-align:middle;
            background:url('../img/sprites.png') -151px -48px no-repeat;    
        }
    }
}
.social-links{
    padding: 40px 0px;
    &__item{
        width:45px;
        height:45px;
        display:inline-block;
        vertical-align:top;
        margin-left:5px;
        &--tw{
            background:@blue-color url('../img/sprites.png') 5px -48px no-repeat ;
        }
        &--fb{
            background:@blue-color url('../img/sprites.png') -50px -48px no-repeat ;
        }
        &--youtube{
            background:@blue-color url('../img/sprites.png') -103px -48px no-repeat ;
        }
    }  
}