.page-footer{
    background:@main-background;
    position: relative;
    text-align: center;
    &__wrap{
        padding: 35px 20px;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
    }
    &__link-hashtag{
        font-size: 21px;
        line-height: 26px;
        color:@color-link;
    }
    &__link-copyright{
        &:after{
            content:'';
            width:45px;
            height:45px;
            display:inline-block;
            vertical-align:middle;
            fill:rgba(0,0,0,1);    
        }
        svg{
            height:45px;
            vertical-align: top;
        }
        &:hover{
            fill:rgba(129,179,210,1);
        }
        &:active{
            fill:rgba(178,178,178,1);
        }
    }
}
.social-links{
    padding: 40px 0px;
    &__item{
        width:45px;
        height:45px;
        display:inline-block;
        vertical-align:top;
        margin-left:5px;
        background:@blue-color;
        fill:rgba(255,255,255,1);
        svg{
            height: 45px;
        }
        &:hover{
            background:rgba(102,158,192,1);
            fill:rgba(255,255,255,1);
        }
        &:active{
            background:rgba(84,150,189,1);
            fill:rgba(136,182,209,1);
        }
    }  
}