.main__wrap{
    background:@main-background;
}

.card{
    width: @width-content; 
    margin:0 auto;
    background:url('../img/background_for_main.jpg') no-repeat;
    padding: 46px 0px;
    position:relative;
    &__greeting,
    &__main-logo,
    &__slogan{
        display:block;
        margin:0 auto;
    }
    &:before{
        content:'';
        position:absolute;
        bottom:0px;
        left:0px;
        border-top:24px solid transparent;
        border-left:160px solid @main-background;
        z-index: 1;
    }
    &:after{
        content:'';
        position:absolute;
        bottom:0px;
        right: 0px;
        border-top:24px solid transparent;
        border-right:160px solid @main-background;
        z-index: 1;
    }
}
.card__greeting{
    margin-bottom:60px;
}
.card__main-logo{
    margin-bottom:65px;
}

.description{
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;
    &__wrap{
        padding:0 28px;
    }
    &__title{
        width: 264px;
        margin:0 auto;    
    }
    &__text{
        margin-top: 25px;
    }
    &:before{
        content:'';
        position:absolute;
        border-top:24px solid transparent;
        border-left:160px solid @color;
        left:0px;
        bottom: 0px;
        z-index: 1;    
    }
    &:after{
        content:'';
        position:absolute;
        border-top:24px solid transparent;
        border-right:160px solid @color;
        right:0px;
        bottom: 0px;
        z-index: 1;
    }
}
.reason{
    background: @color;
    &__wrap{
        padding: 0px 40px;
    }
    &__header{
       padding:40px 0px; 
    }
    &__title{
        color:@color-text;
    }
    &__number{
        color:@color-text;
    }
    &__descr-title{
        color:@color-text;
    }
    &__image{
        vertical-align: bottom;
    }
}

.advantages{
    &__wrap{
        padding: 25px 25px 25px 70px;
        position: relative;
    }
    &__description{
        padding:15px 0;
    }
    &__title{
        text-align:left;
        }
    p{
        text-align:left;
        }
}
.advantages__wrap{
    section:nth-of-type(1):before{
        position: absolute;
        content:'';
        width:40px;
        height: 50px;
        background: url('../img/sprites.png') -104px 5px no-repeat ;
        top: 30px;
        left: 20px;
    }
}
.advantages__wrap{
    section:nth-of-type(2):before{
        position: absolute;
        content:'';
        width:40px;
        height: 50px;
        background: url('../img/sprites.png') -154px 5px no-repeat ;
        top: 165px;
        left: 20px;
    }
}
.advantages__wrap{
    section:nth-of-type(3):before{
        position: absolute;
        content:'';
        width:40px;
        height: 50px;
        background: url('../img/sprites.png') -205px 5px no-repeat ;
        top: 285px;
        left: 20px;
    }
}


.reasons{
    background:#eeeeee;
    &__wrap{
        padding:0px 20px;
    }
    &__item{
        padding: 30px 15px 29px 15px;
        border-bottom: 1px solid #d6d6d6;
    }
    &__item:last-of-type{
        border-bottom: none;
        padding-bottom: 30px;
    }
}

.offer{
    &__wrap{
        padding:0px 20px 45px 20px;
    }
    &__title{
        padding-top:30px;
        padding-bottom: 10px;
    }
    &__btn{
        margin-top:40px;
        display:block;
        background: @color;
        padding:20px 45px;
    }
}
.map{
    width: 320px;
    height: 350px;
    background: url('https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=-TtMc0Ptg0qY-C9cVs2CgPiGa8rjC-3_&width=320&height=350&lang=ru_RU&sourceType=constructor') no-repeat;
}