@media (min-width:@width-tablet-content){
	.container{
		width:@width-tablet-content;
	}
	.navigation{
		padding:0;
		&__list{
			flex-direction:row;
			justify-content:space-between;
		}
		&__item{
			width:20%;
			display:block;
			background:@main-background;
			box-shadow:none;
				-webkit-box-shadow: none;
                -moz-box-shadow:none;
		}
		&__item:nth-of-type(1){
			order:4;
		}
		&__item:nth-of-type(2){
			order:1;
		}
		&__item:nth-of-type(3){
			display:block;
			order:3;
		}
		&__item:nth-of-type(4){
			order:2;
		}
		&__item:nth-of-type(5){
			order:5;
		}
		&__link{
			.font-title();
			font-size:14px;
			color:@color-link;
		}
	}
	.menu-close,
	.menu-open{
		display:none;
	}
	.logo{
		height:0px;
		position:static;
	}
	.card{
		padding-top:50px;
		padding-bottom:53px;
		&__wrap{
			width:456px;
        	margin:0 auto;
		}
		&__greting{
			margin-top:25px;
			margin-bottom:0;
			width:256px;
			height:86px;
		}
		&__main-logo{
			margin-top:54px;
			margin-bottom:57px;
			width:456px;
			height:76px;
		}
		&__slogan{
			margin-bottom:30px;
			width:296px;
			height:82px;
		}
	}
	.description{
		&__title{
			width: 440px;
    		margin: 0 auto;
    		font-size: 21px;
    		margin-top:40px;
		}
		&::before,
		&::after{
			border:none;
		}
		&__text{
			margin-top:34px;
			margin-bottom:20px;
		}
	}
	.reason{
		display:flex;
		height:256px;
		&__wrap{
			display:block;
			padding:0px;
			width:33%;
			&--change{
				order:1;
			}
		}
		&__header{
			padding:25px 19.4% 30px 19.4%;
		}
		&__title{
			font-size:21px;
			margin-top:20px;
			margin-bottom:13px;
		}
		&__number{
			margin-top:0;
			margin-bottom:25px;
		}
		&__descr-title{
			line-height:21px;
		}
		&__image{
			display:block;
			width:67%;
		}
	}

	.advantages{
		width:100%;
		height:330px;
		&__wrap{
			padding: 55px 0 64px 0;
			display:flex;
			justify-content:space-between;
			align-items:flex-start;
		}
		&__description{
			width:33%;
			&:first-of-type{
				margin-top:0;
			}
			&:nth-of-type(2){
				order:3;
			}
			&:last-of-type{
				margin-bottom:0;
			}
		}
		&__image{
			display:block;
			margin:0 auto;
		}
		&__title{
			display:block;
			width: 64.4%;
			margin:0 auto;
			text-align:center;
			h2{
				font-size:21px;
				margin-top:28px;
			}
			p{
				line-height:21px;
				margin-top:25px;
			}
		}
	}
	.features{
		&__wrap{
			padding-top:42px;
			padding-bottom:52px;
			display:flex;
			justify-content:space-between;
		}
		&__item{
			width:33%;
			border:none;
			padding:0;
		}
		&__header{
			padding: 0 19.5%;
		}
		&__title{
			font-size:21px;
			width:120px;
			margin:0 auto;
		}
		&__descr-title{
			margin-top:20px;
    		word-wrap: break-word;
		}

	}
	.offer{
		&__wrap{
			width: 458px;
    		padding: 50px 0 60px 0;
    		margin: 0 auto;
		}
		&__title{
			margin:0px;
			font-size:30px;
		}
		&__text{
			margin-top:30px;
			margin-bottom:45px;
		}
	}
	.page-footer{
		&__wrap{
			padding:36px 20px;
			flex-direction:row;
		}
		&__item{
			width:33%;
		}
		&__dev{
			margin:0;
		}
	}
	.social-links{
		padding:0px;
		width:33%;
	}
}
@media (min-width:@width-desktop-content){
	.container{
		width:@width-desktop-content;
	}
	.reason{
		&__header{
			padding:35px 17.7% 40px 17.7%;
		}
		&__descr-title{
			margin-bottom:20px;
		}
	}
	.advantages{
		.title{
			p{
				margin-bottom:20px;
			}
		}
	}
	.features{
		&__header{
			padding: 0 17.5%;
		}
	}
	.offer{
		&__wrap{
			width: 458px;
    		padding-bottom:70px;
    		margin: 0 auto;
		}
	}
}